#open{
    background-color: aquamarine;
    font-family:"Popins", 
    sans-serif ;
    display: flex;
    align-items:center;
    justify-content: center;
   
  }
  #modal-container{
    display:none;
  }
  body {
    margin: 0;
}
button {
    position: absolute;
    align-items:center;
    justify-content: center;
    right:10cm ;
   

}
  body {
    overflow: hidden;
    margin: 0px;
    
  }

  #debug {
    position: absolute;
    left: 0em;
    top: 4em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: monospace;
  }

  #ObjectName {
    position: absolute;
    left: 0em;
    top: 10em;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: monospace;
  }

  #LODdebug {
    position: absolute;
    left: 0em;
    top: 7em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: monospace;
  }
